<p>Hi, <%= @user.name %></p>

<p>
  有新留言給 <%= link_to @photo.title, root_url %>:

  <%#= image_tag( @photo.image.url ) # need abs url %>

</p>

<p>
  <%= @comment.user.name %> 說: <%= @comment.content %>
</p>